### 模型配置
model_name_or_path: /root/autodl-tmp/subspace/models/LLM-Research/Meta-Llama-3-8B-Instruct
trust_remote_code: true

### 方法配置
stage: sft
do_train: true
finetuning_type: full       
use_galore: true          
galore_layerwise: true     
galore_target: all
galore_rank: 16
galore_scale: 0.5

### 数据配置
dataset: meta_math
template: llama3
cutoff_len: 1024
max_samples: 10000
overwrite_cache: true
preprocessing_num_workers: 16

### 输出配置
output_dir: outputs/galore   
logging_steps: 1
save_steps: 10000     
plot_loss: true
overwrite_output_dir: true
report_to: none

### 训练参数 (严格控制变量)
optim: adamw_torch
per_device_train_batch_size: 8   
gradient_accumulation_steps: 1  
learning_rate: 2.0e-5         
num_train_epochs: 3.0
lr_scheduler_type: cosine
warmup_ratio: 0.1
pure_bf16: true             
flash_attn: sdpa